<h1><%= @event.title %></h1>
<h2>Location:</h2>
<p><%= @event.location %><p>
<h2>Date and Time: </h2>
<%= @event.date %>
<h2>Event Creator</h2>
<p><%= User.find(@event.creator_id).email%> </p>
<h2>Attendees</h2>
    <ul>
    <% @event.attendees.each do |attendee| %>
        <li>
            <%= attendee.email %>
        </li>
        <% end %>
    </ul>
<div>
    <% if current_user == @event.creator %>
        <%= link_to 'Edit' edit_event_path %>
        <%= link_to 'Delete' event_path, data: { confirm: "Delete this event?"} %>
    <% end %>
</div>